* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.signs {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 30vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2px;
  margin-top: 100px;
}

.inpute {
  grid-column-end: span 4;
  padding: 10px;
  background-color: rgb(173, 171, 171);
  color: white;
  font-weight: 600;
  border: none;
}

.egals {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-end: span 2;
}

.orange {
  border: 1px solid rgb(255, 168, 7);
  background-color: rgb(255, 168, 7);
}

.gray {
  background-color: rgb(219, 218, 218);
  border: none;
}

.calculate {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.quote{
  width: 30vw;
}